* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: border-box;
}

:root {
--primary: #000000;
--secondary: #FF7F50;
--tertiary: #93E9BE;
}

app-title {
    color:#FF7F50;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 600;
    line-height: 1.5;
    font-size: 18px;
    letter-spacing: 0.1em;
  }

app-title {
    text-align: center;
    padding: 15px;
    color: var(--tertiary);
}

.navbar-nav {
    display: inline-block;
}

.navbar-default {
    text-align: center;
}

nav {
    background: var(----primary);;
    max-width: 100%;
}

button.bt.btn-primary.p-2 {
    font-size: 1rem;
    text-decoration: none;
    padding: 0.25rem 1rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 1px;
    background-color: var(--secondary);
  }

.card {
    border: solid black 1px;
    background-color: #93E9BE;
}

#five-day-forecast {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#forecast-box {
    border: solid black .5px;
    padding: 20px;
    display: none;
    max-width: 90;
}

#search-square {
    line-height: 2.5;
    border-bottom: solid 4px;
}

#past-search {
    display: flex;
    flex-direction: column;
}

