* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
--primary: #000000;
--secondary: #FF7F50;
--tertiary: #93E9BE;
}

* {
    box-sizing: border-box;
  }

  html,
body {
  min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 600;
    line-height: 1.5;
    font-size: 18px;
    letter-spacing: 0.1em;
    background: var(--dark);
    color: var(--light);
    font-family: 'Poiret One', cursive;
  }

app-title {
    text-align: center;
    padding: 15px;
    color: var(--tertiary);
    font-family: 'Arvo', serif;
}

.navbar-nav {
    display: inline-block;
}

.navbar-default {
    text-align: center;
}

nav {
    background: var(----primary);;
    max-width: 100%;
}

/* .button.btn.btn-primary.p-2 {
    padding: 5px;
    cursor: pointer;
    transition: all 0.5s;
    color: var(--tertiary);
} */

button {
    font-size: 1rem;
    text-decoration: none;
    padding: 0.25rem 1rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 1px;
    background-color: var(--secondary);
  }

.card {
    border: solid black 1px;
}

#five-day-forecast {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#forecast-box {
    border: solid black .5px;
    padding: 20px;
    display: none;
    max-width: 100;
}

#search-square {
    line-height: 1.6;
    border-bottom: solid Gainsboro 2px;
}

#past-search {
    display: flex;
    flex-direction: column;
}

#user-form {
    justify-content: space-evenly;
}